body {
  margin: 0;
  font-family: 'Lato', 'Arial', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 10px;
}
body * {
  /* border: 1px red solid; */
}